#useDynLib("NHMM", .registration = TRUE, .fixes = "C_")
useDynLib("NHMM", .registration = TRUE)


export(HMM,NHMM,NHMM_MVN, OBIC, Oz, OQQ, OXcoef, OWcoef, Oemparams)
#exportPattern("^[[:alpha:]]+")

import(Rcpp)
import(MCMCpack)

importFrom(BayesLogit, rpg)
importFrom(msm, rtnorm)

#importFrom(MCMCpack, riwish)
importFrom(MASS, mvrnorm)

importFrom("grDevices", "dev.off", "png")
  importFrom("graphics", "abline", "hist", "par", "plot")
  importFrom("stats", "cutree", "dgamma", "dist", "hclust", "na.omit",
             "rgamma", "rnorm", "runif", "var")
  importFrom("utils", "read.table", "setTxtProgressBar",
             "txtProgressBar")
