useDynLib(AdaptGauss, .registration=TRUE)
exportPattern("^[[:upper:]][[:alpha:]]+")
# export only functions that begin with an uppercase letter
import(shiny)
importFrom(Rcpp, evalCpp)
#import(grid)
importFrom('pracma', trapz)
#importFrom(ggplot2,'ggplot','geom_line','ggtitle','ylab','xlab','aes','stat_function','aes_string')
#importFrom('mclust', densityMclust)
importFrom("grDevices", "rainbow")
importFrom("graphics", "abline", "arrows", "axis", "grid", "hist","lines", "par", "plot", "plot.new", "points", "text", "title", "box")
importFrom("methods", "hasArg")
importFrom("stats", "spline","approx", "dist", "dlnorm", "dnorm", "ecdf", "kmeans", "knots", "lm", "plnorm", "pnorm", "qnorm", "qqplot", "quantile", "rlnorm", "rnorm", "runif", "sd", "density", "pchisq")
importFrom("methods", "new")
importFrom("stats", "na.exclude","rchisq" )
importFrom("utils", "head", "tail")
importFrom("grDevices", "dev.off", "jpeg", "png")
importFrom("grDevices", "nclass.FD")