useDynLib(BNSL, .registration = TRUE)
export(bnsl)
export(bnsl_p)
export(mi)
export(cmi)
export(mi_matrix)
export(kruskal)
export(FFtable)
export(parent.set)
importFrom(Rcpp, evalCpp)
importFrom(bnlearn, set.arc)
importFrom(bnlearn, empty.graph)
import(igraph)
