useDynLib(CatReg)
export(UniformDesignMatrix)
export(CorrelatedDesignMatrix)
export(scope)
export(scope.logistic)
S3method(predict,scope)
S3method(predict,scope.logistic)
importFrom(Rcpp, evalCpp)
importFrom(Rdpack,reprompt)
importFrom(stats,pnorm,rnorm,var)
