useDynLib(FastGP)
importFrom(Rcpp, evalCpp)
importFrom(mvtnorm,rmvnorm,dmvnorm)
importFrom(rbenchmark, benchmark)
importFrom(MASS,mvrnorm)
importFrom(stats,runif,rnorm)
exportPattern("^[[:alpha:]]+")
